.followup_toggle_button {
    position: fixed;
    top: 10%;
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #2e2a54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.followup_toggle_button:hover {
    background-color: #2d2349;
}

.followup_button_content {
    position: relative;
    display: flex;
    align-items: center;
}

.followup_button_count {
    position: absolute;
    top: -20px;
    right: -10px;
    background-color: #a80909;
    color: white;
    font-size: 0.8rem;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.followup_toggle_button:hover .followup_button_count {
    background-color: #cf0e0e;
}

  .followup_toggle_button:hover {
    background-color: #2d2349;
  }
  
  .followup_sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 999;
    padding: 20px;
    overflow-y: auto;
 
  }
  
  .followup_sidebar.open {
    right: 0;
  }
  
  .close_button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #6a5af9;
  }
  
  .followup_sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #6a5af9;
  }
  
  .followup_list {
    list-style: none;
    padding: 0;
  }
  
  .followup_item {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
  }
  
  .followup_item p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .followup_item strong {
    color: #2d2349;
  }
  
  .buton_followupsdoned{
    height: 30px;
    width: 70px;
    border: none;
    background-color: #2d2349;
    border-radius: 5px;
    color: white;
  }
  @media (max-width: 768px) {
    .followup_sidebar {
      width: 100%;
    }
  
    .followup_toggle_button {
      top: 10%;
    }
  }
  